# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/

# VS Code
.vscode/
.history/

# Python packaging
*.egg-info/
dist/
build/
.eggs/

# Editor backups
*.swp
*.swo
*.tmp
*.temp

# Logs
*.log

# Docker
docker-compose.override.yml

# Local environment files
.env

# OS files
.DS_Store
Thumbs.db
